<div class='row'>
  <div class="col-xs-8 col-xs-offset-2 signup_container">
    <span class="form_header">Edit Clinic</span>
    <br/>
    <br/><br/>
    <div class="col-xs-12" style="margin-bottom:20px;">
      <%= render 'offices/form', office: @office %>
    </div>
  </div>
</div>
