/*fonts*/

@font-face {
  font-family: 'Museo300';
  src: url(asset-path('MuseoSans-300.otf')); /* IE9 Compat Modes */
  src: url(asset-path('MuseoSans-300.otf?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       url(asset-path('MuseoSans-Regular.ttf'))  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Museo500';
  src: url(asset-path('MuseoSans-500.otf')); /* IE9 Compat Modes */
  src: url(asset-path('MuseoSans-500.otf?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       url(asset-path('MuseoSans-Bold.ttf'))  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Museo700';
  src: url(asset-path('MuseoSans-700.otf')); /* IE9 Compat Modes */
  src: url(asset-path('MuseoSans-700.otf?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       url(asset-path('MuseoSans-Bold.ttf'))  format('truetype'), /* Safari, Android, iOS */
}

.museo300 {
  font-family: 'Museo300', Fallback, sans-serif;
}

.museo500 {
  font-family: 'Museo500', Fallback, sans-serif;
}

.museo700 {
  font-family: 'Museo700', Fallback, sans-serif;
}

.align_center {
  text-align: center;
}

.footer-link {
  color: #FFF;
  &:hover {
    color: #FFF;
  }
}

/*RadioBTNs*/
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -4em;
  margin-right  : 2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 1em;
  height           : 1em;
  margin           : 0em 0.5em .3em 0.25em;
  border           : 0.1em solid rgb(98,194,165);
  border-radius    : 0.25em;
  background       : none;
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(98,194,165),rgb(98,194,165));
  background-image :     -ms-linear-gradient(rgb(98,194,165),rgb(98,194,165));
  background-image :      -o-linear-gradient(rgb(98,194,165),rgb(98,194,165));
  background-image : -webkit-linear-gradient(rgb(98,194,165),rgb(98,194,165));
  background-image :         linear-gradient(rgb(98,194,165),rgb(98,194,165));
}

/*End RadioBTNs*/
/*Bootstrap Overrides*/

.btn-success {
  font-family: 'Museo500', Fallback, sans-serif;
  background-color: #64c3a6;
}

.btn-success:hover {
  background-color: #4a937c;
}

.btn-warning {
  font-family: 'Museo500', Fallback, sans-serif;
  background-color: #f8991d;
}

.btn-warning:hover {
  background-color: #b8732a;
}

h2 {
  font-family: 'Museo700', Fallback, sans-serif;
}

h3 {
  color: #64c3a6;
  font-family: 'Museo700', Fallback, sans-serif;
}

.btn_grp {
  border: 2px solid #64c3a6;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
}

.modal-header {
  background-color: #64c3a6;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.greenicon {
  color: #64c3a6;
}

/*Main*/

body {
  font-family: 'Museo300', Fallback, sans-serif;
  background-color: #f3f3f3;
}

.link {
  color: #57c6d6;
  text-decoration: underline;
  cursor: pointer;
}

.large_icon {
  font-size: 20px;
  color: #64c3a6;
}

.downarrow {
  width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 14px solid #64c3a6;
}

.downarrow-mask {
  width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #f3f3f3;
    position: relative;
    top:-12px;
    left:-6px;
}

.leftarrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 14px solid #64c3a6;
  border-bottom: 10px solid transparent;
}

.leftarrow-mask {
  width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid #f3f3f3;
    position: relative;
    top:4px;
    left:-10px;
}

.rightarrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 14px solid #64c3a6;
  border-bottom: 10px solid transparent;
}

.rightarrow-mask {
  width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #f3f3f3;
    position: relative;
    top:4px;
    left:10px;
}

/*Table*/

th {
  background-color: #62c2a5;
  color: white;
}

/* Navigation Menu */

.notification {
  width: 20px;
  height: 20px;
  background: #e57473;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  line-height: 1.5;
}

.navbtnmenu {
  border-top: 1px solid #787878;
  border-bottom: 1px solid #787878;
  box-shadow: inset 0 1px 0 #dad8d8;
  box-shadow: 0 1px 0 #dad8d8;
  margin-bottom:10px;
  padding:15px 0 15px 0;
}

.emergency_navbtnmenu {
  border-top: 1px solid #f8991d;
  border-bottom: 1px solid #f8991d;
  box-shadow: inset 0 1px 0 #f8991d;
  box-shadow: 0 1px 0 #f8991d;
  margin-bottom:10px;
  padding:15px 0 15px 0;
}

.notificationtext {
  font-size: 11px;
  line-height: 2.5;
}

/*buttons*/

.emergency {
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}

.emergency-top {
  border-top-right-radius:0px;
  border-top-left-radius:0px;
  margin-top:-1px;
}

.emergency_hr {
  border-top:solid 2px #f8991d;
}

.btn-success_off {
  background-color: #f3f3f3;
  border: 2px solid #64c3a6;
  color: #64c3a6;
}

.editbtn {
  font-size:8px;
  margin: 0 5px;
  padding:5px;
  position: absolute;
}

/*footer*/

.footer {
  background-color: #232940;
  color: #ffffff;
}